@model IEnumerable<WebApplication1.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>All Users</h2>

<p>
    @Html.ActionLink("+ Create New User", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @{
                    string path = item.Photo == null ? "profile.png" : item.Photo;

                }
                <img src="~/ProfilesImages/@path" alt="Profile" width="50" height="50"style="border-radius:50%" />
            </td>
            <td>
                <a href="@Url.Action("Delete","Users",new { id = item.Id })" class="btn btn-danger form-control">
                    Delete
                </a>

            </td>
        </tr>

    }

</table>
