@model IEnumerable<WebApplication1.Models.ProposalModels>

@{
    ViewBag.Title = "Index";
}

<h2>Accepted Proposal</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheProposal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeLancerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TheProposal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreeLancerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAccepted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOfProposal }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOfProposal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOfProposal })
        </td>
    </tr>
}

</table>
