@model IEnumerable<WebApplication1.Models.PostJob>
@using WebApplication1.Utility
@{
    ViewBag.Title = "Index";
}

<h2>Time Line</h2>
@using (Html.BeginForm("Index", "Posts", FormMethod.Get))
{
    <br />
    @Html.TextBox("search", null, new { @class = "form-control" })
    <input type="submit" name="submit" value="Search" class="btn btn-primary" style="display: flex;margin-top: 5px;">
    @Html.RadioButton("option", "Jop Type")<text>Jop Type</text>
    @Html.RadioButton("option", "Date")<text >Date</text>
    @Html.RadioButton("option", "Client Name")<text>Client Name</text>



    <br />
    <br />
    <br />
    if (Model.Count() == 0)
    { <tr>
            <td><h2>Sorry We don't got it yet</h2></td>
        </tr>
    }
    else
    {
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NumberOfSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.Label("Actions")
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @if (item.IsStillAvilavble == true)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobBudget) $
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discription)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfSubmitted)
                        </td>
                        <td>
                            @if (item.Rate == 5)
                            {
                                <div class="stars">
                                    <span class="fa fa-star checked" id="sp1"></span>
                                    <span class="fa fa-star checked" id="sp2"></span>
                                    <span class="fa fa-star checked" id="sp3"></span>
                                    <span class="fa fa-star checked" id="sp4"></span>
                                    <span class="fa fa-star checked" id="sp5"></span>
                                </div>
                            }
                            else if (item.Rate == 4)
                            {
                                <div class="stars">
                                    <span class="fa fa-star checked" id="sp1"></span>
                                    <span class="fa fa-star checked" id="sp2"></span>
                                    <span class="fa fa-star checked" id="sp3"></span>
                                    <span class="fa fa-star checked" id="sp4"></span>
                                    <span class="fa fa-star" id="sp5"></span>
                                </div>
                            }
                            else if (item.Rate == 3)
                            {
                                <div class="stars">
                                    <span class="fa fa-star checked" id="sp1"></span>
                                    <span class="fa fa-star checked" id="sp2"></span>
                                    <span class="fa fa-star checked" id="sp3"></span>
                                    <span class="fa fa-star" id="sp4"></span>
                                    <span class="fa fa-star" id="sp5"></span>
                                </div>
                            }
                            else if (item.Rate == 2)
                            {
                                <div class="stars">
                                    <span class="fa fa-star checked" id="sp1"></span>
                                    <span class="fa fa-star checked" id="sp2"></span>
                                    <span class="fa fa-star" id="sp3"></span>
                                    <span class="fa fa-star" id="sp4"></span>
                                    <span class="fa fa-star" id="sp5"></span>
                                </div>
                            }
                            else if (item.Rate == 1)
                            {
                                <div class="stars">
                                    <span class="fa fa-star checked" id="sp1"></span>
                                    <span class="fa fa-star" id="sp2"></span>
                                    <span class="fa fa-star" id="sp3"></span>
                                    <span class="fa fa-star" id="sp4"></span>
                                    <span class="fa fa-star" id="sp5"></span>
                                </div>
                            }

                        </td>

                        if (User.IsInRole(SD.AdminUser))
                        {
                            <td>
                                <a href="@Url.Action("Edit", "Posts", new { id = item.Id })" class="btn btn-primary form-control" style="width:70px">
                                    Edit
                                </a>
                                <a href="@Url.Action("Delete", "Posts", new { id = item.Id })" class="btn btn-danger form-control" style="width:70px">
                                    Delete
                                </a>
                            </td>
                        }
                        else if (User.IsInRole(SD.ClientUser))
                        {
                            <td>
                                <a href="@Url.Action("Details", "Posts", new { id = item.Id })" class="btn btn-primary form-control" style="width:100px">
                                    More Details
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("Details", "Posts", new { id = item.Id })" class="btn btn-primary form-control" style="width:100px">
                                    More Details
                                </a>
                                @Html.ActionLink("Rate", "RateJob", "Rate", new { area = "FreeLancer", id = item.Id }, new { @class = "btn btn-success" })

                            </td>

                        }
                    }
                </tr>
            }

        </table>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
