@model WebApplication1.Models.PostJob

@{
    ViewBag.Title = "Rate";
}

<h2>Rate</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Rate Job</h4>
        <hr />
        <span style="color:red">@ViewBag.AlreadyRatedMessage</span>
        <dl class="dl-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobBudget)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobBudget)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Discription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfSubmitted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfSubmitted)
            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @if (ViewBag.MyRate > 1)
                {
                    if (ViewBag.MyRate == 5)
                    {
                        <div class="stars">
                            <span class="fa fa-star checked" id="sp1"></span>
                            <span class="fa fa-star checked" id="sp2"></span>
                            <span class="fa fa-star checked" id="sp3"></span>
                            <span class="fa fa-star checked" id="sp4"></span>
                            <span class="fa fa-star checked" id="sp5"></span>
                        </div>
                    }
                    else if (ViewBag.MyRate == 4)
                    {
                        <div class="stars">
                            <span class="fa fa-star checked" id="sp1"></span>
                            <span class="fa fa-star checked" id="sp2"></span>
                            <span class="fa fa-star checked" id="sp3"></span>
                            <span class="fa fa-star checked" id="sp4"></span>
                            <span class="fa fa-star" id="sp5"></span>
                        </div>
                    }
                    else if (ViewBag.MyRate == 3)
                    {
                        <div class="stars">
                            <span class="fa fa-star checked" id="sp1"></span>
                            <span class="fa fa-star checked" id="sp2"></span>
                            <span class="fa fa-star checked" id="sp3"></span>
                            <span class="fa fa-star" id="sp4"></span>
                            <span class="fa fa-star" id="sp5"></span>
                        </div>
                    }
                    else if (ViewBag.MyRate == 2)
                    {
                        <div class="stars">
                            <span class="fa fa-star checked" id="sp1"></span>
                            <span class="fa fa-star checked" id="sp2"></span>
                            <span class="fa fa-star" id="sp3"></span>
                            <span class="fa fa-star" id="sp4"></span>
                            <span class="fa fa-star" id="sp5"></span>
                        </div>
                    }

                }
                else
                {
                    <a href="#" style="color:gray;"><span class="fa fa-star checked" id="sp1"></span></a>
                    <a href="#" style="color:gray;"><span class="fa fa-star ch" id="sp2"></span></a>
                    <a href="#" style="color:gray;"><span class="fa fa-star" id="sp3"></span></a>
                    <a href="#" style="color:gray;"><span class="fa fa-star" id="sp4"></span></a>
                    <a href="#" style="color:gray;"><span class="fa fa-star" id="sp5"></span></a>


                    @Html.TextBoxFor(model => model.Rate, new { id = "MyRate", @class = "hidden" })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Rate" class="btn btn-default" />
                        </div>
                    </div>
                }

                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </dd>


        </dl>
       
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index", "Posts", new { area = "" }, null)
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var rate;
            $("#sp5").click(function () {

                $("#sp1,#sp2,#sp3,#sp4,#sp5").addClass("checked");
                rate = 5;
                $("#MyRate").val(rate);
            });
            $("#sp4").click(function () {
                $("#sp1,#sp2,#sp3,#sp4").addClass("checked");
                $("#sp5").removeClass("checked");
                rate = 4;
                $("#MyRate").val(rate);
            });
            $("#sp3").click(function () {
                $("#sp1,#sp2,#sp3").addClass("checked");
                $("#sp4,#sp5").removeClass("checked");
                rate = 3;
                $("#MyRate").val(rate);
            });
            $("#sp2").click(function () {
                $("#sp1,#sp2").addClass("checked");
                $("#sp3,#sp4,#sp5").removeClass("checked");
                rate = 2;
                $("#MyRate").val(rate);
            });
            $("#sp1").click(function () {
                $("#sp2,#sp3,#sp4,#sp5").removeClass("checked");
                rate = 1;
                $("#MyRate").val(rate);
            });
        });
    </script>
}
