@model IEnumerable<WebApplication1.Models.PostJob>

@{
    ViewBag.Title = "Index";
}

<h2>My Posts At Wall</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.Label("Actions")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.IsStillAvilavble == true && item.IsAvilavbleAtWall == true)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Posts", new { area = "", id = item.Id }, new { @class = "btn btn-primary" }) |

                    @Html.ActionLink("Delete", "Delete", "Posts", new { area = "", id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            }
        </tr>
    }

</table>

<h2>My Posts which done</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>       
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.IsAvilavbleAtWall == false)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>               
            }
        </tr>
    }

</table>
