@model IEnumerable<WebApplication1.Models.PostJob>

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<p>
    @Html.ActionLink("+ Create New Post", "Create", null, new { @class = "btn btn-info" })
</p>
<br />

<h2>My Posts</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.Label("Actions")
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    @if (item.IsStillAvilavble == true && item.IsAvilavbleAtWall == true)
    {
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobBudget) $
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSubmitted)
        </td>
        <td>
            @if (item.Rate == 5)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star checked" id="sp4"></span>
                    <span class="fa fa-star checked" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 4)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star checked" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 3)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 2)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 1)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star" id="sp2"></span>
                    <span class="fa fa-star" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            @*@Html.DisplayFor(modelItem => item.Rate)*@
        </td>
        <td>
            @Html.DisplayName("At Wall")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "AdminPosts", new { area = "Admin", id = item.Id }, new { @class = "btn btn-primary" }) |

            @Html.ActionLink("Delete", "Delete", "AdminPosts", new { area = "Admin", id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobBudget) $
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSubmitted)
        </td>
        <td>
            @if (item.Rate == 5)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star checked" id="sp4"></span>
                    <span class="fa fa-star checked" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 4)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star checked" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 3)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star checked" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 2)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star checked" id="sp2"></span>
                    <span class="fa fa-star" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            else if (item.Rate == 1)
            {
                <div class="stars">
                    <span class="fa fa-star checked" id="sp1"></span>
                    <span class="fa fa-star" id="sp2"></span>
                    <span class="fa fa-star" id="sp3"></span>
                    <span class="fa fa-star" id="sp4"></span>
                    <span class="fa fa-star" id="sp5"></span>
                </div>
            }
            @*@Html.DisplayFor(modelItem => item.Rate)*@
        </td>
        <td>
            @Html.DisplayName("Done")
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", "AdminPosts", new { area = "Admin", id = item.Id }, new { @class = "btn btn-primary" }) |

            @Html.ActionLink("Delete", "Delete", "AdminPosts", new { area = "Admin", id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    }
</tr>
    }

</table>

